/* Single line tab and url bars */
@import "includes/oneBar.css";

/* search bar */
@import "includes/searchBar.css";

/* Minor Customizations */
#TabsToolbar .tabbrowser-tab .tab-content {
    font-family: "Input Mono", monospace !important;
    font-size: 11.5px !important;
}

/* Removed highlighted tab drop shadow */
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
    box-shadow: none !important;
    border: 1px solid var(--lwt-tab-line-color, var(--lwt-tabs-border-color, currentColor)) !important;
}
:root {
    --lwt-tab-line-color: rgba(128, 128, 128, 0.5) !important;
    --floating-findbar-on-right: true;
}